@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700');

body{
	background-image: url("../images/wavy-dots.png");
	background-color: #dcdcdc;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	padding-top: 150px;
  	padding-bottom: 150px;
}

h1, h2, h3{
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
}

#front{
	margin-left: 15px;
	margin-bottom: -10px;
}

h2 > a, h3 > a{
	text-decoration: none;
}

nav a {
    padding-left: 20px;
}

main, article{
	background-color: #fff;
}

header, footer{
	background-color: #000;
	color: #fff;
	padding: 20px;
}

.hero, main, aside, article{
	padding:20px;
}

.container{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
  	grid-gap: 10px;
}

header{
	position: fixed; 
    top: 0;
    left: 0;
    right: 0;

  	display: grid;
	grid-template-columns: 1fr, auto;
  	grid-gap: 10px;
}

#logo-container{
	grid-column: 1;
  	grid-row: 1;
}

#logo{
	width: 30%;
}

nav{
	grid-column: 2;
	grid-row: 1;
	align-self: end;

	display: flex;
	justify-content: flex-end;
}

.hero{
	grid-column: 1 / -1;
  	grid-row: 1;
  	justify-self: center;
  	text-align: center;
  	padding-bottom: 40px;
}

main{
	grid-column: 1 / 5;
	grid-row: 2;
}

aside{
	grid-column: 5 / 6;
	grid-row: 2;
}

footer{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	grid-column-gap: 10px;
}

#copyright{
	grid-column: 1;
  	grid-row: 1;
}

#cookies{
	grid-column: 2 / 5;
	grid-row: 1;
}

#categories{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;

  	font-size: 14px;
}

#tstyle{
	background-color: #000;
	color: #fff;
	padding: 3px;
}

#istyle{
	background-color: #dcdcdc;
	color: #000;
	padding: 3px;
}

#dstyle{
	background-color: #734f91;
	color: #fff;
	padding: 3px;
}


#featured>img, .thumbnail{
	width:100%;
}

a{
	color:#000;
}

a:hover{
	color: #734f91;
}

nav a{
	color: #fff;
	text-decoration: none;
}

nav a:hover{
	color: #fff;
	text-decoration: underline;
}

footer a{
	color: #fff;
	text-decoration: underline;
}

#visitors{
	border-collapse: collapse;
    width: 100%;
}

#visitors th {
    padding: 10px;
    background-color: #734f91;
    color: #fff;
    text-align: left;
}

#visitors td, #visitors th {
    border: 1px solid #ddd;
    padding: 5px;
}

#visitors tr:nth-child(even){
	background-color: #f2f2f2;
}

#visitors tr:nth-child(odd){
	background-color: #fff;
}


form{
	grid-column: 1 / 5;
	grid-row: 2;

	display: grid;
	grid-template-columns: 1fr, 1fr;
  	grid-gap: 20px;
}

.row1{
	grid-column: 1 / 3;
	grid-row: 1;
}

.row1a{
	grid-column: 1;
	grid-row: 1;
}

.row1b{
	grid-column: 2;
	grid-row: 1;
}

.row2{
	grid-column: 1 / 3;
	grid-row: 2;
}

.row3{
	grid-column: 1 / 3;
	grid-row: 3;
}

.row4{
	grid-column: 1 / 3;
	grid-row: 4;
}

.row5{
	grid-column: 1 / 3;
	grid-row: 5;
}

.row6{
	grid-column: 1 / 3;
	grid-row: 6;
}

.row7{
	grid-column: 1 / 3;
	grid-row: 7;
}

#formStyle{
	width: 80%;
	padding: 20px;
	background-color: #f2f2f2; 
}

input[type=text],input[type=email], input[type=password], textarea{
	width: 100%;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}

textarea{
	height: 100px;
}

input[type=submit] {
	border: none;
    width: 100%;
    padding: 10px;
    background-color: #734f91;
    color: #fff;
    font-size: 16px;
	font-family: 'Rubik', sans-serif;

	transition-property: background;
  	transition-duration: 1s;
  	transition-timing-function: linear;
}

input[type=submit]:hover {
	background: #ae7ed6;
}