body{
	padding-top: 100px;
  	padding-bottom: 200px;
  	font-size: 18px;
}

.container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;
}

.hero{
	grid-column: 1 / -1;
  	grid-row: 1;
  	justify-self: center;
  	text-align: center;
}

main{
	grid-column: 1 / -1;
	grid-row: 2;
}

.hero p, main p{
	line-height: 1.5em;
}

aside{
	grid-column: 1 / -1;
	grid-row: 3;
}

header{
  	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;
}

#logo-container{
	grid-column: 2 / 3;
  	grid-row: 1;
}

#logo{
	width: 100%;
}

nav{
	grid-column: 1 / -1;
	grid-row: 2;
	align-self: center;

	display: flex;
	justify-content: space-between;
}


nav a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}

footer{
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;

	display: grid;
	grid-template-columns: 1fr;
  	grid-column-gap: 5px;

  	font-size: 12px;
}

#copyright{
	grid-column: 1;
  	grid-row: 2;
}

#cookies{
	grid-column: 1;
	grid-row: 1;
}

#categories{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;

  	font-size: 16px;
}

#tech{
	grid-column: 1;
	grid-row: 1;
}

#industry{
	grid-column: 1;
	grid-row: 2;
}

#design{
	grid-column: 1;
	grid-row: 3;
}